

$Softblue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);


$Verydarkblue : hsl(217, 54%, 11%);
$Verydarkblue : hsl(216, 50%, 16%);
$Verydarkblue: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Outfit', sans-serif;
  font-size: 1.8rem;
  color: $White;
}